<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util-3.0.xsd">

    <bean id="customer" class="me.ranjit.spring.di.property.collection.listfactorybean.Customer" >
        <!-- java.util.List -->
        <property name="lists">
            <!-- 方式一： ListFactoryBean模式-->
            <!--<bean class="org.springframework.beans.factory.config.ListFactoryBean">-->
                <!--<property name="targetListClass">-->
                    <!--<value>java.util.ArrayList</value>-->
                <!--</property>-->
                <!--<property name="sourceList">-->
                    <!--<list>-->
                        <!--<value>one</value>-->
                        <!--<value>2</value>-->
                        <!--<value>three</value>-->
                    <!--</list>-->
                <!--</property>-->
            <!--</bean>-->
            <!-- 方式二：util 模式 -->
            <util:list list-class="java.util.ArrayList">
                <value>ttt</value>
                <value>33</value>
                <value>sss</value>
            </util:list>
        </property>
    </bean>

</beans>