<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="CustomerBean" class="me.ranjit.spring.bean.xml.Customer" dependency-check="objects">
        <property name="action" value="buy" />
        <property name="type" value="1" />
    </bean>

    <bean id="PersonBean" class="me.ranjit.spring.bean.xml.Person">
        <property name="name" value="ranjit" />
        <property name="address" value="address ABC" />
        <property name="age" value="29" />
    </bean>

</beans>