<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- 如果 bean 配置文件中没有指定 bean 的范围，默认为单例。-->
    <bean id="customerService" class="me.ranjit.spring.beanscope.service.singleton.CustomerServiceSingleton"/>
</beans>