<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
       default-dependency-check="all"><!-- 设置全局默认的依赖检查 -->

    <bean id="CustomerBean" class="me.ranjit.spring.bean.xml.Customer" >
        <property name="action" value="buy" />
    </bean>

    <bean id="PersonBean" class="me.ranjit.spring.bean.xml.Person">
        <property name="name" value="ranjit" />
        <property name="address" value="address ABC" />
    </bean>

</beans>