<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- 在bean中定义init-method和destroy-method属性 -->
    <bean id="customerService" class="me.ranjit.spring.id.beanmethod.CustomerService"
            init-method="initIt" destroy-method="cleanUp">
        <property name="message" value="I'm property message" />
    </bean>

</beans>