<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="OutputHelper" class="me.ranjit.spring.loosecoupling.spring.OutputHelper">
        <property name="outputGenerator" ref="CsvOutputGenerator" />
    </bean>

    <bean id="CsvOutputGenerator" class="me.ranjit.spring.loosecoupling.CsvOutputGenerator" />
    <bean id="JsonOutputGenerator" class="me.ranjit.spring.loosecoupling.JsonOutputgenerator" />

</beans>