<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="outputHelper" class="me.ranjit.spring.di.constructor.helper.OutputHelper">
        <constructor-arg>
            <!-- 如果引用在同一个XML文件中的bean，你可以用 'ref' 标签，“local”属性引用它。-->
            <ref local="jsonOutputGenerator"/>
            <!-- 如果是在不同XML文件中的bean，可以用一个“ref”标签，“property.base”属性引用它。-->
            <!--<ref property.base="csvOutputGenerator"/>-->
        </constructor-arg>
    </bean>

    <bean id="jsonOutputGenerator" class="me.ranjit.spring.di.service.impl.JsonOutputGenerator"/>

    <import resource="../generator/outputGenerator.xml"/>

</beans>